body{
    background: #eaeaea;
}

.form-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form {
    margin: 40px auto;
    width: 300px;
    padding: 50px 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 30px;
    height: 25px;
    width: 90%;
}

.login-button{
    width: 100%;
    height: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 7px;
    background-color: #eaeaea;
}

.login-button:hover{
    background-color: lightgrey;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.login-button:active{
    background-color: darkgrey;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.login-title{
    text-align: center;
    padding-bottom: 20px;
}

.link{
    margin-top: 10px;
}

footer p{
    color: black;
}
